# Entornos virtuales de Python
.venv/
venv/
__pycache__/
*.pyc

# Variables de entorno
.env

# Node / frontend
node_modules/
dist/
build/

# Logs
*.log

# Configuración local
.DS_Store
Thumbs.db


# Node / React
node_modules/
dist/
.env

# Python
.venv/
venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db